@charset "utf-8";

html {
    height: 200%;
}

body {
    min-height: 100%;
}

/* header */
header {
    display: flex;
    flex-wrap: nowrap;
    background: #186AC9;
}

#head {
    display: flex;
    height: 110px;
    width: 100%;
}

.sns_title img {
    margin-top: 5px;
    width: 130px;
    height: auto;
}

.title_link {
    padding: 20px;
}

/* アコーディオンメニュー */

#accordion {
    display: flex;
    margin: 35px 0 0 auto;
    font-size: 24px;
    height: auto;
    color: #fff;
}

.header_username {
    margin: 0 60px 30px 0;
    padding-right: 10px;
}

.link_menu {
    /* display: none; */
    background-color: #fff;
    border: 1px #186AC9;
    border-bottom: 1px solid #F5F8FA;
}

/* 矢印 */
.menu_btn {
    margin: 25px 90px 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #186AC9;
    border: none;
    outline: none;
}

.inn {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.menu_btn .inn::before {
    position: absolute;
    content: "";
    top: 40%;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -40%) rotate(135deg);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 0.3s ease;
}

.menu_btn.is_open .inn:before {
    top: 60%;
    transform: translate(-50%, -60%) rotate(-45deg);
}

.accordion_menu {
    position: absolute;
    top: 60px;
    width: 324px;
    color: #000000;
    background-color: #F5F8FA;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);
}

.accordion_menu ul {
    border: 1PX solid #191970;
    margin-bottom: 0;
}


.accordion_menu ul li {
    border-top: 1px solid #191970;
    display: flex;
    text-align: center;
    color: #000000;
    justify-content: center;
}

.accordion_menu ul li a {
    display: block;
    font-size: 18px;
    width: 100%;
    padding: 40px 40px;
    color: #000000;
    text-decoration: none;
}

/* カーソルを乗せた時に色が変化する */
.accordion_menu ul li a:hover {
    color: #fff;
    background-color: #02297E;
    transition: 0.3s ease;
}



.accordion_menu.is_open {
    margin-top: 50px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.my_icon {
    display: block;
    margin: -5px 20px 0 0;
    background-color: #186AC9;
    height: 40px;
    border: none;
    outline: none;
}

.my_icon img {
    width: 50px;
    height: 50px;
}






/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}



/* サイドバー */
#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: auto;
}

#confirm {
    display: block;
    border-bottom: 1px solid #CACBCC;
    margin-bottom: 10px;
    width: 105%;
}

.btn {
    background-color: #186AC9;
    margin: 10px 10px;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn_search {
    display: block;
    width: 150px;
    margin-left: 20px;
    text-align: center;
    margin: auto;

}


/* 投稿 */
.posts_container {
    display: flex;
    margin-top: 20px;
    border-bottom: 5px solid #E0E0E0;
}

.post_form {
    width: 70%;
    height: 150px;
    background-color: #F5F8FA;
    border: none;
    outline: none;
}

.btn_post {
    width: 55px;
    height: 55px;
    border: none;
    padding: 0;
    margin: 0;
}

.btn_post img {
    width: 55px;
    height: 55px;
}

input::placeholder {
    font-size: 20px;
    top: 0;
}

/* モーダル */
/* .content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
} */



/* プロフィール更新 */
.profile_container {
    display: flex;
}

.profile_icon {
    margin: 40px 0 0 260px;
    width: 50px;
    height: 50px;
}

.profile_icon img {
    width: 50px;
    height: 50px;
}

.update_form {
    width: fit-content;
    margin: 0 40px 0 30px;
}

.update_form li {
    display: flex;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bolder;
}

.label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.form-control {
    width: 300px;
}

.file_up {
    height: 100px;
    border: 1px solid #9A9A9A;
}

.btn_update {
    display: block;
    width: 150px;
    height: 35px;
    font-size: 16px;
    background-color: #ED3A50;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 6px;

}

/* 相手のプロフィール */

/* ユーザー検索 */
/* 検索結果 */

/* フォーローリスト */
/* フォロワーリスト */
